---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import BlogCard from "../components/BlogCard.astro";

const blogs = await Astro.glob("../blogs/*.mdx");
---

<Layout title="Jiseeeh's Blogs">
  <main>
    <Header />
    {
      blogs.map((blog) => (
        <BlogCard
          title={blog.frontmatter.title}
          date={blog.frontmatter.date}
          excerpt={blog.frontmatter.excerpt}
        />
      ))
    }
  </main>
</Layout>
