---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";

const primary = "#FFFFFE";
const secondary = "#F2F4F6";
const heading = "#00214D";
const paragraph = "#1B2D45";
const accent = "#00EBC7";
---

<Layout title="Blog">
  <main>
    <Header />
  </main>
</Layout>

<style
  is:global
  define:vars={{ primary, secondary, heading, paragraph, accent }}
>
  html {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    background-color: var(--primary);
  }

  h1 {
    color: var(--heading);
  }

  p {
    color: var(--paragraph);
  }

  a {
    color: var(--accent);
  }

  main {
    padding: 1rem;
    min-height: 100vh;
  }
</style>
