@import url("./satoshi.css");

:root {
  --primary: #fffffe;
  --secondary: #f2f4f6;
  --heading: #00214d;
  --paragraph: #1b2d45;
  --accent: #00ebc7;
}

html {
  font-family: "Satoshi", sans-serif;
  background-color: var(--primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
}

p {
  color: var(--paragraph);
  line-height: 1.5;
}

a {
  color: var(--accent);
  text-decoration: none;
}

blockquote {
  background-color: var(--accent);
  border-radius: 8px;
  padding: 0.5rem;
  font-weight: bold;
}

main {
  padding: 1rem;
  min-height: 100vh;
}

[astro-icon] {
  height: 30px;
  width: 30px;
}

.btn {
  cursor: pointer;
  border: none;
  outline: none;
  background: transparent;
  color: var(--heading);
  font-weight: bold;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  padding: 0.8rem;
  border-radius: 7px;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 100%;
  background-color: var(--heading);
  z-index: -1;
  transition: all 0.5s;
  border-radius: 5px;
}

.btn:hover::before {
  width: 100%;
}

.btn:hover {
  color: var(--accent);
}
