<header>
  <h1>Blog</h1>
  <span>Blogs to document my progress (if i get motivated to do so.)</span>
</header>

<style>
  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-size: clamp(2rem, -1.5rem + 8vw, 2.5rem);
  }
  span {
    color: #ccc;
    text-align: center;
    font-size: clamp(1rem, -1.5rem + 8vw, 1.5rem);
  }
</style>
