---
import Layout from "./Layout.astro";

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <article>
    <h1>{frontmatter.title}</h1>
    <span>{frontmatter.date}</span>
    <section><slot /></section>
  </article>
</Layout>

<style>
  article {
    display: flex;
    flex-direction: column;
    max-width: 50rem;
    margin-left: auto;
    margin-right: auto;
  }

  h1 {
    text-align: center;
    margin: 5rem 0 3rem;
  }
</style>
